<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] - Partial Views Sample</title>

    @{ await Html.RenderPartialAsync("JQueryBootstrap"); }
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Discovery" class="navbar-brand">Partial Views Sample</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Discovery">Discovery (MVC)</a></li>
                    <li><a asp-area="" asp-controller="Articles" asp-action="Read">Data access (MVC)</a></li>
                    <li><a asp-area="" asp-page="/DiscoveryRP">Discovery (Razor Pages)</a></li>
                    <li><a asp-area="" asp-page="/ArticlesRP/ReadRP">Data access (Razor Pages)</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr>
        <footer>
            <p>&copy;@System.DateTime.Now.Year - Partial Views Sample</p>
        </footer>
    </div>
</body>
</html>
